
header h1 {
    font-family: 'Electrolize', sans-serif;
    font-weight: 700; 
}

header div a {
    font-weight:bold ;
    align-self: center;
}

#HOME {

    background: url('images/logo.jpg') no-repeat center center;
    background-size:cover; 
    color: white; 
    padding: 150px 120px; 
    text-align: center;
    border-color: red;
}

#HOME p {
    font-family: 'Helvetica', 'Arial', sans-serif; 
    font-size: 1.3rem;
    font-weight: normal; 
}

.btn {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: red; 
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

body button {
    align-items: center;
}

.btn-primary {
    background-color:red;
    border-color: black;
}

.btn-primary:hover {
    background-color:red;
    border-color: black;
}

.btn-success {
    background-color:red;
    border-color: black;
}

.btn-success:hover {
    background-color: darkblue;
}

.carousel-img {
    width: 70%; 
    max-height: 400px; 
    object-fit: cover; 
    border-radius: 10px; 
    margin: 0 auto; 
    display: block;
}


#about {
        position: relative;
        color: white;
        padding: 100px 20px;
        text-align: center;
}



#about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 150px 120px; 
    background-image: url('images/background1.png'); 
    background-size: cover; 
    background-position: center;
    opacity: 0.5; 
    z-index: -1; 
}

#about {
    font-family: 'Helvetica', 'Arial', sans-serif; 
    font-size: 1.0rem;
    font-weight: normal; 
}


.circle-img {
    width: 300px; 
    height: 300px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 3px solid #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-bottom: 10px;
}

/* Ensure the captions are styled */
#about p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px; 
    color: white;
}

